.facet-app{

	position: relative;

	.panel{
		position: absolute;
		overflow: hidden;
		padding: 0px;
	}

	.left-panel{
		width: 300px;
		background: #e3e9ff;
		padding-top: 5px;

		.ui-tabs-nav {
			height: 27px;

			li {
				font-size: .625em;

				a {
					margin-bottom: 0px;
				}
			}
		}

		.ui-tabs .ui-tabs-panel {
			border-bottom: medium none;
			border-left: medium none;
			border-right: medium none;
			padding: 0;
		}

		#facets-panel{
		}

	}
	
	.right-panel{
		left: 300px;
		width: 500px;
		padding-left: 5px;
		background: #bcf;

		.top-panel {
			height: 32px;
			vertical-align: baseline;
			position: relative;

			.bar{
				position: absolute;
			}

			.summary-bar {
				left: 7px;
				font-size: 1.8em;
				font-weight: bold;
			}

			.tool-bar {
				top: 0px;
				right: 10px;
				font-size: 1.3em;
				padding: 5px 0px;
			}
		}

		.view-panel{
			background-color: white;
		}
	}	
}






.ui-tabs {
  padding: 0;
}

.ui-widget-content, .ui-tabs .ui-widget-header {
  border: none;
  background: none;
  color: inherit;
}

.ui-tabs .ui-tabs-nav {
  padding: 0 7px;

	li {
		height: 100%;
		top: 0px;
		padding-bottom: 0px;

		a {
			padding: 4px 10px 0px 10px;
		}
	}

	li.ui-tabs-selected{
		padding-bottom: 0px;
	}
}

.ui-tabs .ui-tabs-nav .ui-state-default,
.ui-tabs .ui-tabs-nav .ui-widget-content .ui-state-default {
  background: none;
  border: 1px solid transparent;
  border-bottom: 0;
}

.ui-tabs .ui-tabs-nav .ui-state-default a,
.ui-tabs .ui-tabs-nav .ui-state-default a:link,
.ui-tabs .ui-tabs-nav .ui-state-default a:visited {
  color: #11c;
  font-weight: normal;
}

.ui-tabs .ui-tabs-nav li a span.count {
  color: #666;
  font-weight: normal;
  font-size: 80%;
}

.ui-tabs .ui-tabs-nav .ui-state-active,
.ui-tabs .ui-tabs-nav .ui-widget-content .ui-state-active {
  border: 1px solid #bcf;
  border-bottom: none;
  background: white;
}

.ui-tabs .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav .ui-state-active a:link,
.ui-tabs .ui-tabs-nav .ui-state-active a:visited {
  color: black;
  font-weight: bold;
}

.ui-tabs .ui-corner-top, .ui-tabs .ui-corner-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
}

.ui-tabs .ui-tabs-panel {
  margin: 0;
  padding: 7px;
  border: 1px solid #bcf;
  background: white;
}

.ui-widget-content a {
  color: #11c;
	font-size: 100%;
}
