<div class="inner">

	<div class="left-panel panel">
		<div class="inner">

			<div class="tabs">
				<ul>
					<li><a href="#<%= model.id %>-facets">Facet/Filter</a></li>
				</ul>	

				<div id="<%= model.id %>-facets" class="facets">
				</div>

			</div>

		</div>
	</div>

	<div class="right-panel panel">

		<div class="inner">

			<div class="top-bar">

				<div class="summary-bar bar">
				</div>

				<div class="tool-bar bar">
				</div>

			</div>

			<div class="data-views">
			</div>

		</div>

	</div>

</div>

